* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root 
{
	--default-green: #1db954;
	--light-green: #1ed760;
    --background-secundario: #121212e8;
    --background-principal: #060606;
    --text-color: #b9b6b6;
}
body{
    background-color: var(--background-principal);
}
.options{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    background-color: var(--background-secundario);
    width: 300px;
    height: 150px;
    border: solid 1px #060606;
    border-radius: 6%;
}
.options img{
    width: 90px;
    margin: 10px;

}
.options ul{
    margin: 10px;
}
.options ul span{
    margin: 7px;
    color: var(--text-color);
    font-weight: bold;
}
